.header {
  width: 100%;
  background-color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.header-logo img {
  width: 165px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header-item span {
  font-size: 12px;
  font-weight: bold;
}

.header-item small {
  margin-top: 3px;
  font-size: 10px;
  white-space: nowrap;
}

.header-btn {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}


.kv-btn {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

h1 {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
}

.kv-content p {
    font-size: 12px;
    line-height: 16px;
}